<div class="jumbotron">
  <h1>Бесплатная тренировка</h1>
  <p>Оставьте всю необходимую информацию и мы свяжемся с вами.</p>

  <%if @error then %>
    <div class="alert alert-danger"><%=@error%></div>
  <% end %>

  <form action="/free" method="POST">
    <div class="row">
      <div class="col-lg-4">
          <label for="name_input"><p>Ваше имя</p></label>
          <input type="text" class="form-control" placeholder="Иван" name="name_input" id ="name_input" value="<%= @name_input%>">
        <br>
          <label for="phone_input"><p>Ваш телефон</p></label>
          <input type="text" class="form-control" placeholder="+375296761133" name="phone_input" id ="phone_input" value="<%= @phone_input%>">
        <br>
          <label for="email_input"><p>Ваш Email</p></label>
          <input type="email" class="form-control" placeholder="info@gridingym.by" name="email_input" id ="email_input" value="<%= @email_input%>">
        <br>

         <!--
          Выбор тренера (выпадающий список)
          Если тренер был выбран, а другие поля не были заполнены, то выбор тренера сохранится. -->
          <label for="trainer_input"><p>Ваш тренер</p></label>
          <p><select class="form-control" name="trainer_input" id="trainer_input">

            <option value="Гридин Андрей" <%= @trainer_input == "Гридин Андрей" ?
            "selected" : "" %>>Гридин Андрей</option>
            <option value="Ковтик Александр" <%= @trainer_input == "Ковтик Александр" ?
            "selected" : "" %>>Ковтик Александр</option>
            <option value="Игнашов Алексей" <%= @trainer_input == "Игнашов Алексей" ?
            "selected" : "" %>>Игнашов Алексей</option>
            <option value="Крыкля Роман" <%= @trainer_input == "Крыкля Роман" ?
            "selected" : "" %>>Крыкля Роман</option>

          </select></p>

      </div>
    </div>
    <br>
    <input type="submit" name="submit" class="btn btn-danger btn-lg" >
  </form>
</div>
